
.footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#E4D8DC;
    color:#262A53;
    font-weight: 600;
    text-align: center;
    a{
        color:black;
        font-weight: 600;
    }
 }